.hero {
	position: relative;

	color: #fff;
	padding: 3rem;
	background: linear-gradient(to bottom, #27527a, #31a1b3);
	margin-bottom: 10vw;
}

.heroWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.heroContent {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heroContent > * {
	flex: 1;
}

.heroTitle {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	font-size: 2.5em;
}

.heroImage {
	width: 100%;
	max-width: 500px;
}

.heroImage img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.heroArrow {
	--size: 1.2em;
	display: block;
	font-size: var(--size);
	width: calc(var(--size) * 2);
	height: calc(var(--size) * 2);
	border-radius: 50%;
	border: 2px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}

.heroArrow:hover {
	background-color: #fff;
	color: #31a1b3;
}

.heroSubtitle {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
}

.buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.mainButton {
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	background-color: var(--secondary-color);
	color: #333;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	cursor: pointer;
}

.mainButton:hover {
	background-color: var(--secondary-color-hover);
}

.diferenciais {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.diferenciaisContent {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}

.sobre {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.sobreWrapper {
	position: relative;
	background-color: var(--primary-color);
	color: #fff;
	margin: 7em 0;
	padding: 1em 0;
}

.sobreContent {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 2em;
}

.sobreText {
	flex: 2;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
}
.sobreImage {
	flex: 1;
	overflow: hidden;
	border-radius: var(--border-radius);
}

.sobreImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.beneficiosContent {
	margin: 2em 0;
}

.publicoWrapper {
	position: relative;
	background-color: var(--primary-color);
	color: #fff;
	margin: 5em 0;
	padding: 1em 0;
}

.publico {
	position: relative;
	padding-bottom: 4em;
	padding-top: 1em;
}

.publico > h1 {
	text-align: center;
}

.publicoContent {
	width: 100%;
	position: absolute;
	margin-top: 3em;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	z-index: 1;
}

.publicoCard {
	flex: 1;
	display: flex;
	align-items: stretch;
	justify-content: center;
	min-width: 360px;
	max-width: 500px;
	gap: 1em;
	padding: 1em;
	background: #fff;
	color: #333;
	border-radius: var(--border-radius);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.publicoCardContent {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.publicoCardContent span {
	font-weight: bold;
	font-size: 1.2em;
}

.trilhaWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 12em;
	margin-bottom: 8em;
}

.trilhaWrapper > h2 {
	margin-bottom: 3em;
}

.trilha {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	background-color: var(--primary-color);
}

.trilhaContent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 9;
	margin-top: -5em;
}

.trilhaItem {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	max-width: 700px;
	color: #fff;
	margin-right: auto;
}

.trilhaItem:nth-child(even) {
	flex-direction: row-reverse;
	margin-left: auto;
	margin-right: unset;
}

.trilhaImage {
	flex: 1;
	overflow: hidden;
	border-radius: var(--border-radius);
}

.trilhaImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.trilhaItemContent {
	flex: 2;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
}

.apoio {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2rem;
}

.blocoApoio {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.apoioContent {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
}

.apoioItem {
	width: max-content;
	height: 5em;
}

.apoioItem img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* ! MEDIA QUERIES */

@media (max-width: 900px) {
	.heroSubtitle {
		flex: 2.5;
	}

	.sobreContent {
		flex-direction: column-reverse;
	}

	.sobreImage {
		max-height: 20em;
	}

	.trilhaWrapper {
		margin-top: 20em;
	}

	.trilhaContent {
		margin-top: 0;
		gap: 2em;
	}
}

@media (max-width: 768px) {
	.heroTitle {
		font-size: 2em;
	}

	.heroImage {
		display: none;
	}

	.heroContent:nth-child(2) {
		flex-direction: column-reverse;
		gap: 1em;
	}

	.trilhaWrapper {
		margin-top: 25em;
	}
}

@media (max-width: 550px) {
	.blocoApoio {
		width: 100%;
	}
	.apoioContent {
		width: 100%;
	}
}

@media (max-width: 360px) {
	.publicoCard {
		min-width: unset;
	}
}
