.hero {
	position: relative;

	color: #fff;
	padding: 3rem;
	background: linear-gradient(to bottom, #27527a, #31a1b3);
	margin-bottom: 10vw;
}

.heroWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.heroContent {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heroContent > * {
	flex: 1;
}

.heroTitle {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	font-size: 2.5em;
}

.heroImage {
	width: 100%;
	max-width: 500px;
}

.heroImage img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.heroArrow {
	--size: 1.2em;
	display: block;
	font-size: var(--size);
	width: calc(var(--size) * 2);
	height: calc(var(--size) * 2);
	border-radius: 50%;
	border: 2px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}

.heroArrow:hover {
	background-color: #fff;
	color: #31a1b3;
}

.heroSubtitle {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
}

.waveSvg path {
	fill: #31a1b3;
}

.diferenciais {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.diferenciaisContent {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}

.sobre {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.sobreWrapper {
	position: relative;
	background-color: var(--primary-color);
	color: #fff;
	margin: 5em 0;
	padding: 1em 0;
}

.sobreContent {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 2em;
}

.sobreText {
	flex: 2;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
}
.sobreImage {
	flex: 1;
	overflow: hidden;
	border-radius: var(--border-radius);
}

.sobreImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
